/* ------------------------------------------------------------------------ *\
                                F O N T E S                                  
\* ------------------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

/* ------------------------------------------------------------------------ *\
                                  T A G S                                 
\* ------------------------------------------------------------------------ */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', sans-serif;
}

h1 {
    margin-top: 3rem;
}

a {
    color: #337ab7;
}

a:hover {
    color: #337ab7;
}

figure {
    padding: 20px;
}

img {
    box-shadow: 3px 3px 10px #000000;
}

figcaption {
    font-style: italic;
    padding-top: 10px;
}

/* ------------------------------------------------------------------------ *\
                                 C L A S S E S                                
\* ------------------------------------------------------------------------ */

.navbar {
    position: sticky;
    top: 0;
    min-height: 60px;
    background-color: #3E3F3A !important;
    z-index: 1;
}

.card {
    box-shadow: 0px 1px 1px #aaaaaa;
    border-color: #cccccc;
    height: calc(100% - 1rem);
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    align-items: stretch;
}

.title-hr {
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.section-subtitle {
    font-family: 'Bree Serif', sans-serif;
}

.section-title {
    margin-top: 50px;
}

.section-title-hr {
    width: 60%
}

.entry-title {
    margin-top: inherit;
    margin-bottom: inherit;
}

@media only screen and (max-width: 576px) {   
    .section-title-hr {
        width: 90%
    }
}

