{% load static %}

<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PyColore - {{ titre }}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="{% static 'home/menu.css' %}">
    </head>

    <body>
        <!-- NAVBAR -->
        <header class="header">
            <div href="#" class="header__icon"><span></span>
            </div>
            <a href="#" class="header__logo">PyColore</a>
            <nav class="menu">
                <a href="#">Blog</a>
                <a href="#">Catégories</a>
                <a href="#">Archives</a>
                <a href="#">Flux RSS</a>
                <a href="#">Fichiers</a>
            </nav>
        </header>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
